@font-face {
  font-family: 'Noto Color Emoji';
  src: url('fonts/NotoColorEmoji/NotoColorEmoji.ttf') format('truetype');
}

html {
    overflow-y: scroll !important;
}

body, html.fancybox-lock, html.fancybox-lock, .fancybox-overlay {
    overflow: auto !important;
}

body {
    padding-top: 70px;
}

::-webkit-scrollbar {
	background-color: #F5F5F5;
    width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #F5F5F5;
    width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #889cb2;
}

.btn {
    border-radius: 0;
}

.layout {
    background: #f1f1f1;
    font-family: Arial, sans-serif, 'Noto Color Emoji';
}

.layout a:hover {
    text-decoration: none;
}

.layout .container {
    width: 1010px;
}

.layout__block {
    background: #ffffff;
    box-shadow: 0 0 5px 0 #CCC;
    padding: 20px;
    margin: 20px 0;
}

.layout__menus {
    background: #507299;
    border: 0 none;
}

.layout__menus a {
    color: #CCC !important;
    background: transparent !important;
}

.layout__menus .active a {
    color: #FFF !important;
}

.layout__menus .navbar-brand {
    color: #FFF !important;
}

.layout__loader {
    background: 50% 50% no-repeat url('images/ajax-loader.gif') #FFF;
}

.layout__loader-over {
    background: 50% 50% no-repeat url('images/ajax-loader.gif') rgba(241, 241, 241, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.layout__loader-inner:before {
    background: 50% 50% no-repeat url('images/ajax-loader.gif') rgba(255, 255, 255, 0.8);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.layout__menus .navbar-right {
    margin: 0;
}

.people {

}

.people__person {
    position: relative;
}

.people__person-buttons {
    position: absolute;
    left: -100px;
    top: 0;
    right: -100px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.people__person-buttons-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.people__person-buttons-like {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.people__person-buttons-arrow {
    display: block;
    color: #B9B9B9;
    font-size: 410%;
    line-height: 50%;
}

.people__person-buttons-text {
    display: block;
    color: #B9B9B9;
    font-size: 300%;
}

.people__person-name {
    font-size: 140%;
}

.people__person-bio {
    font-style: italic;
}

.people__person-photo-wrap {
    margin: 0 -10px;
}

.people__person-photo-wrap div {
    display: inline-block;
}

.people__person-photo {
    margin: 10px;
    width: 172px;
    height: 172px;
}

.match {
    position: fixed;
    background: #507299;
    right: 100px;
    color: white;
    padding: 10px 20px;
    font-size: 140%;
    box-shadow: 3px 3px 7px 0 #92b6d4;

    bottom: 20px;
    opacity: 1;

    transition: all .1s linear;
}

.match.ng-animate {
    transition: all .1s linear;
}

.match.ng-enter {
    bottom: -50px;
    opacity: 0;
}

.match.ng-enter.ng-enter-active {
    bottom: 20px;
    opacity: 1;
}

.match.ng-leave {
    opacity: 1;
}

.match.ng-leave.ng-leave-active {
    bottom: 20px;
    opacity: 0;
}

.matches {

}

.matches__list {
    width: 350px;
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

.matches__list-item {
    box-sizing: border-box;
    height: 100px;
    padding: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
    display: flex;
}

.matches__list-item__active, .matches__list-item__active .matches__list-item-name {
    background: #92b6d4;
    color: white !important;
}

.matches__list-item:hover, .matches__list-item:hover .matches__list-item-name {
    background: #82a6c4;
    color: white !important;
}

.matches__list-item-photo {
    overflow: hidden;
    position: relative;
    margin: 4px;
    flex-shrink: 0;
}

.matches__list-item-body {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.matches__list-item-name {
    font-size: 140%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #305279;
}

.matches__list-item-photos-small {
    display: flex;
}

.matches__list-item-photo-small {
    margin: 4px 2px 0;
    height: 42px;
}

.matches__chat {
    background: #fafafa;
    position: fixed;
    bottom: 10px;
    top: 50px;
    width: 620px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}

.matches__chat-person { }

.matches__chat-person-detect {
    color: #305279;
    float: right;
    margin: 20px 0 0;
}

.matches__chat-person-name {
    color: #305279;
    font-size: 150%;
    margin: 20px 0 5px;
    padding: 0 10px;
}

.matches__chat-person-ping {
    color: #889cb2;
    font-size: 100%;
    margin: 0 0 15px;
    padding: 0 10px;
}

.matches__chat-person-bio {
    color: #305279;
    font-size: 100%;
    font-weight: normal;
    margin: 10px 0 10px;
    padding: 0 10px;
    line-height: 140%;
}

.matches__messages {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0;
}

.matches__messages-item {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    min-height: 60px;
    background: rgba(240, 240, 240, 0.2)
}

.matches__messages-item-photo {
    float: left;
    width: 34px;
    height: 34px;
    margin: 2px;
}

.matches__messages-item-body {

}

.matches__messages-item-title {
    margin-left: 50px;
    color: #555;
}

.matches__messages-item-from {
    color: #305279;
}

.matches__messages-item-date {
    color: #889cb2;
}

.matches__messages-item-message {
    display: block;
    margin-left: 50px;
}

.message {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.message__message {
    width: 85%;
    margin: 0 10px 0;
    height: 100px !important;
    border: 1px solid rgba(80, 114, 153, 0.23);
    resize: none;
    border-radius: 0;
}

.message__send {
    height: 100%;
    width: 15%;
    margin: 0;
}

.history {}

.history__action {
    display: flex;
}

.history__action-action {
    width: 90px;
    display: flex;
    align-items: center;
}

.history__action-like {
}

.history__action-pass {
    background: rgba(80, 114, 153, 0.07);
}

.history__action-index {
    width: 30px;
    display: flex;
    align-items: center;
}

.history__action-created {
    width: 180px;
    display: flex;
    align-items: center;
}

.history__action-name {
    width: 200px;
    display: flex;
    align-items: center;
}

.history__action-photos {
    width: 300px;
    display: flex;
    align-items: center;
}

.history__action-photo {
    width: 42px;
    height: 42px;
    margin: -10px 2px;
}

.history__action-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 140px;
}

.history__action-actions button {
    margin: 0 0 0 10px;
}