<div class="layout__loader-over" ng-show="!client"></div>
<ng-photoswipe open="gallery.shown" on-close="gallery.close()"
    slides="gallery.slides" options="gallery.options"
    template="bower_components/ng-photoswipe/views/ng-photoswipe.html"></ng-photoswipe>
<div class="history">
    <div class="layout__block layout__loader" ng-show="loading"></div>
    <div class="history__action layout__block" ng-repeat="action in actions"
        ng-class="{
            'layout__loader-inner': voting[person.id],
            'history__action-like': action.action == 'like',
            'history__action-pass': action.action == 'pass',
            'history__action-superlike': action.action == 'superlike'
        }">
        <div class="history__action-action">
            <span ng-if="action.action == 'like'">&#x1F44D Like</span>
            <span ng-if="action.action == 'pass'">&#x1F44E Pass</span>
            <span ng-if="action.action == 'superlike'">&#x1F31F Super</span>
        </div>
        <div class="history__action-created">
            {{ action.created.toLocaleString() }}
        </div>
        <div class="history__action-name">
            {{ action.person.name }}, {{ ageText(action.person.birth) }}
        </div>
        <div class="history__action-photos">
            <div ng-repeat="photo in action.person.photos">
                <img class="history__action-photo" src="{{ processed.url }}"
                     ng-repeat="processed in photo.processed" ng-if="processed.width == 84"
                     ng-click="gallery.open(action.person.photos, $index)">
            </div>
        </div>
        <div class="history__action-actions">
            <a class="btn history__action-btn history__action-btn-pass" href="#{{action.person.id}}"
               ng-click="pass(action.person)" ng-disabled="!action.person.id">&#x1F44E Pass</a>
            <a class="btn history__action-btn history__action-btn-like" href="#{{action.person.id}}"
               ng-click="like(action.person)" ng-disabled="!action.person.id">&#x1F44D Like</a>
            <a class="btn history__action-btn history__action-btn-superlike" href="#{{action.person.id}}"
               ng-click="superlike(action.person)" ng-disabled="!action.person.id">&#x1F31F Super</a>
        </div>
    </div>
</div>
<div class="match" ng-if="matched">Got new match!</div>