<div class="layout__loader-over" ng-show="!client || loading"></div>
<div class="locator layout__block">
    <h2>Detecting location</h2>
    <h3>Intersection of three circles is rough location of a person</h3>
    <h4>Collecting data. Please wait a minute...</h4>
    <div class="locator__map">
        <leaflet width="100%" height="480px" defaults="location.defaults"
                 event-broadcast="location.events" markers="location.markers"
                 paths="location.paths"></leaflet>
    </div>
</div>