<div class="layout__loader-over" ng-show="!client || loading"></div>
<ng-photoswipe open="gallery.shown" on-close="gallery.close()"
               slides="gallery.slides" options="gallery.options"
               template="bower_components/ng-photoswipe/views/ng-photoswipe.html"></ng-photoswipe>
<div class="layout__flex matches">
    <ul class="matches__list">
        <li class="matches__list-item"
            ng-class="match == active ? 'matches__list-item__active' : ''"
            ng-repeat="match in matches" ng-click="dialog(match)">
            <img class="matches__list-item-photo" src="{{ processed.url }}"
                 ng-repeat="processed in match.person.photos[0].processed"
                 ng-if="processed.width == 84"
                 ng-click="gallery.open(match.person.photos, 0)">
            <div class="matches__list-item-body">
                <div class="matches__list-item-name" title="{{ match.person.name }}">
                {{ match.person.name }}
                </div>
                <div class="matches__list-item-photos-small">
                    <div ng-repeat="photo in match.person.photos"
                         ng-init="index = $index" ng-show="!$first">
                        <img class="matches__list-item-photo-small" src="{{ processed.url }}"
                             ng-repeat="processed in photo.processed" ng-if="processed.width == 84"
                             ng-click="gallery.open(match.person.photos, index)">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="layout__block matches__chat" ng-if="active">
        <div class="matches__chat-person">
            <a class="btn btn-default btn-xs matches__chat-person-detect" href="#" ui-sref="locator({personId: active.person.id})">
                Detect location
            </a>
            <h1 class="matches__chat-person-name">
                {{ active.person.name }}, {{ ageText(active.person.birth) }}
            </h1>
            <h2 class="matches__chat-person-ping">
                 Last activity at {{ active.person.ping.toLocaleString() }}
            </h2>
            <h2 class="matches__chat-person-bio">
                {{ active.person.bio }}
            </h2>
        </div>
        <ul class="matches__messages">
            <li class="matches__messages-item"
                ng-repeat="message in active.messages" ng-if="active">
                <img class="matches__messages-item-photo" src="{{ processed.url }}"
                    ng-repeat="processed in (message.from == active.person.id ? active.person.photos[0].processed : user.photos[0].processed)"
                    ng-if="processed.width == 84"
                    ng-click="gallery.open(message.from == active.person.id ? active.person.photos : user.photos, 0)">
                <div class="matches__messages-item-body">
                    <div class="matches__messages-item-title">
                        <span class="matches__messages-item-from">
                            {{ message.from == active.person.id ? active.person.name : user.name }}
                        </span>
                        <span class="matches__messages-item-date">
                            {{ message.sent.toLocaleString() }}
                        </span>
                    </div>
                    <div class="matches__messages-item-message">
                        {{ message.message }}
                    </div>
                </div>
            </li>
        </ul>
        <div class="message">
            <textarea class="form-control message__message"
                      ng-model="message"></textarea>
            <button class="btn btn-primary message__send"
                    ng-click="send(active, message); message = ''"
                    ng-disabled="!message">
                Send
            </button>
        </div>
    </div>
</div>