<div class="layout__loader-over" ng-show="!client"></div>
<div class="layout__block" ng-show="client && !located">
    Trinder could not detect your location. <br>
    Without it Trinder coult not setup your position to load persons beside you. <br>
    Please grant access to location service or setup your position at <a href="href="#" ui-sref="settings">settings page</a>.
</div>
<ng-photoswipe open="gallery.shown" on-close="gallery.close()"
    slides="gallery.slides" options="gallery.options"
    template="bower_components/ng-photoswipe/views/ng-photoswipe.html"></ng-photoswipe>
<div class="people">
    <div class="layout__block layout__loader" ng-show="loading"></div>
    <div class="people__person layout__block"
        ng-repeat="person in people" ng-class="{'layout__loader-inner': voting[person.id]}">
        <div ng-if="$first" class="people__person-buttons">
            <div class="people__person-buttons-pass">
                <span class="people__person-buttons-arrow">&#10229;</span>
                <span class="people__person-buttons-text">Pass</span>
            </div>
            <div class="people__person-buttons-like">
                <span class="people__person-buttons-arrow">&#10230;</span>
                <span class="people__person-buttons-text">Like</span>
            </div>
        </div>
        <div class="people__person-name">{{ person.name }}<span ng-if="person.birth">, {{ ageText(person.birth) }}</span></div>
        <div class="people__person-bio">{{ person.bio }}</div>
        <div class="people__person-photo-wrap">
            <div ng-repeat="photo in person.photos | limitTo : 5" ng-init="index = $index">
                <img class="people__person-photo" src="{{ processed.url }}"
                     ng-repeat="processed in photo.processed"
                     ng-click="gallery.open(person.photos, index)"
                     ng-if="processed.width == 172">
            </div>
        </div>
        <a class="btn people__person-btn people__person-pass" href="#{{person.id}}" ng-click="pass(person)">&#x1F44E Pass &#x1F44E</a>
        <a class="btn people__person-btn people__person-like" href="#{{person.id}}" ng-click="like(person)">&#x1F44D Like &#x1F44D</a>
        <a class="btn people__person-btn people__person-superlike" href="#{{person.id}}" ng-click="superlike(person)">&#x1F31F Super &#x1F31F</a>
    </div>
</div>
<div class="notification" ng-if="notification">{{notification}}</div>