<div class="preloader" ng-show="!client || loading"></div>
<ng-photoswipe open="gallery.shown" on-close="gallery.close()"
    slides="gallery.slides" options="gallery.options"
    template="bower_components/ng-photoswipe/views/ng-photoswipe.html"></ng-photoswipe>
<div class="people">
    <div ng-repeat="person in people" class="people__person layout__block">
        <div class="people__person-name">{{ person.name }}</div>
        <div class="people__person-bio">{{ person.bio }}</div>
        <div class="people__person-photo-wrap">
            <img class="people__person-photo" src="{{ photo[172].url }}"
                 ng-click="gallery.open(person.photos, $index)"
                 ng-if="photo[172].url" ng-repeat="photo in person.photos">
        </div>
        <button class="btn btn-danger" ng-click="pass(person)">Dislike</button>
        <button class="btn btn-primary" ng-click="like(person)">Like</button>
    </div>
    <button class="btn btn-default" ng-click="refresh()">Refresh</button>
</div>