<div class="layout__loader-over" ng-show="!client || loading"></div>
<ng-photoswipe open="gallery.shown" on-close="gallery.close()"
               slides="gallery.slides" options="gallery.options"
               template="bower_components/ng-photoswipe/views/ng-photoswipe.html"></ng-photoswipe>
<div class="settings layout__block">
    <div class="settings__setting">
        <form>
            <div class="settings__setting-side">
                <h2>Name</h2>
                {{user.name}}

                <h2>Description</h2>
                <textarea class="settings__setting-bio" ng-model="user.bio" />

                <h2>Discoverable</h2>
                <label><input type="radio" ng-model="user.discoverable" ng-value="true"> Yes</label><br>
                <label><input type="radio" ng-model="user.discoverable" ng-value="false"> No</label>

                <h2>Gender</h2>
                <label><input type="radio" ng-model="user.gender" ng-value="0"> Male</label><br>
                <label><input type="radio" ng-model="user.gender" ng-value="1"> Female</label>

                <h2>Search for ages</h2>
                <input type="number" ng-model="user.ageMin" style="width: 90px;">
                -
                <input type="number" ng-model="user.ageMax" style="width: 90px;">

                <h2>Search for genders</h2>
                <label><input type="radio" ng-model="user.genderFilter" ng-value="0"> Male</label><br>
                <label><input type="radio" ng-model="user.genderFilter" ng-value="1"> Female</label>
            </div>
            <div class="settings__setting-side">
                <h2>Photos</h2>
                <div class="settings__setting-photos">
                    <img class="settings__setting-photo" ng-repeat="photo in user.photos"
                         src="{{photo.url}}" ng-click="gallery.open(user.photos, $index)">
                </div>

                <h2>Interests</h2>
                <p ng-repeat="interest in user.interests">{{interest.name}}</p>
                <span ng-if="!user.interests.length">-</span>

                <h2>Jobs</h2>
                <p ng-repeat="job in user.jobs">{{job.company.name}}</p>
                <span ng-if="!user.jobs.length">-</span>

                <h2>Schools</h2>
                <p ng-repeat="school in user.schools">{{school.name}}</p>
                <span ng-if="!user.schools.length">-</span>
            </div>
            <br clear="all">

            <h2>Positioning</h2>
            <div class="form-group checkbox">
                <label>
                    <input type="checkbox" ng-model="settings.geolocation">
                    Automatically select my location
                </label>
            </div>
            <div class="form-group">
                <leaflet width="100%" height="480px" defaults="location.defaults"
                         event-broadcast="location.events" markers="location.markers"
                         paths="location.paths"></leaflet>
                <rzslider rz-slider-model="location.slider.value"
                          rz-slider-options="location.slider"></rzslider>
            </div>
            <button type="submit" class="btn btn-default" ng-click="save()">
                Save settings
            </button>
            <button type="submit" class="btn btn-danger pull-right" ng-click="clearSettings()">
                Clear settings
            </button>
            <button type="submit" class="btn btn-danger pull-right" ng-click="clearCache()" style="margin: 0 10px;">
                Clear cache
            </button>
            <span ng-if="saved">Settings saved!</span>
        </form>
    </div>
</div>